<div class="modal-overlay" ng-click="CoreVars.currentModal = '';" ng-show="CoreVars.currentModal"></div>

<div class="card-modal"
	ng-switch on="CoreVars.currentModal.modal_id"
	ng-style="{'top': modal_y_coord+'px', 'left': modal_x_coord+'px',
		'height': modal_y_dim+'px', 'width': modal_x_dim+'px'}">
	
	<div ng-switch-when="cardHeaderLogo">
		<div card-header-logo></div>
	</div>
	
	<div ng-switch-when="cardHeaderName">
		<input type="text" ng-model="card.name" class="text-10" style="width: 100%;">
	</div>
	
	<div ng-switch-when="cardHeaderAspect">
		<div card-header-aspect></div>
	</div>
	
	<div ng-switch-when="cardHeaderItemType">
		<div card-header-item-type></div>
	</div>
	
	<div ng-switch-when="cardHeaderAspectType">
		<div card-header-aspect-type></div>
	</div>
	
	<div ng-switch-when="cardFooterPrerequisites">
		<div card-footer-prerequisites></div>
	</div>
	
	<div ng-switch-when="cardFooterItemSlot">
		<div card-footer-item-slot></div>
	</div>
	
</div>