<table class="fill-parent" fit-content>
	<tbody>
		<tr>
			<td style="vertical-align: top;">
				<div card-modal-toggle modal-id="cardHeaderLogo" modalxalign="left">
					<span class="text-argos text-18"
						ng-class="{'text-14': card.cardType === 'Augment',
							'text-16': card.cardType === 'Origin',
							'text-narrow': card.cardType === 'Augment'}">
						{{card.cardType}}&nbsp;
					</span>
				</div>
			</td>
			
			<td class="fill-parent">
				<div class="card-header fill-parent">
					
					<div card-modal-toggle modal-id="cardHeaderName" card="card" modalxalign="both">
						<strong>
							{{card.name}}
						</strong>
					</div>
					
					<hr class="black-line">
					
					<div ng-if="card.cardType !== 'Item' && card.cardType !== 'Aspect'">
						<div card-modal-toggle modal-id="cardHeaderAspect" card="card" modalxalign="right">
							<span class="text-capitalize">
								{{card.aspect.name}}
							</span>
							<span ng-if="!card.aspect">
								[Aspect]
							</span>
						</div>
					</div>
					
					<div ng-if="card.cardType === 'Item'
						&& (card.itemSlot === 'One-handed'
						|| card.itemSlot === 'Two-handed'
						|| card.itemSlot === 'One-handed or Paired'
						|| card.itemSlot === 'One-handed or Two-handed')">
						<div card-modal-toggle modal-id="cardHeaderItemType" card="card" modalxalign="right">
							<span>
								{{card.itemType}}
							</span>
							<span ng-if="!card.itemType">
								[Item Type]
							</span>
						</div>
					</div>
					
					<div ng-if="card.cardType === 'Aspect'">
						<div card-modal-toggle modal-id="cardHeaderAspectType" card="card" modalxalign="right">
							<span>
								{{card.aspectType}}
							</span>
							<span ng-if="!card.aspectType">
								[Aspect Type]
							</span>
						</div>
					</div>
					
				</div>
			</td>
		</tr>
	</tbody>
</table>